* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
  }   
  
  body {

    padding: 5em;
  }
  
  .grid { 
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
  }
  
  .item {
    background: white;
   
    padding: 2em;
  }
  
  .large {
    background: red;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }

  .xlarge {
    background: blue;
    grid-column: auto / span 2;
    grid-row: auto / span 4;
  }

  .xsmall {
    background: yellow;
    grid-column: auto * span 4;
    grid-row: auto * span 4;
  }

  .xssmall {
    background: white;
    grid-column: auto * span 5;
    grid-row: auto * span 5;
  }

  @media (min-width:960px) { 
      
      .large {
        background: red;
        grid-column: auto / span 2;
        grid-row: auto / span 1;
      }
    
      .xlarge {
        background: blue;
        grid-column: auto / span 1;
        grid-row: auto / span 1;
      }
    
      .xsmall {
        background: yellow;
        grid-column: auto * span 2;
        grid-row: auto * span 1;
      }
    
      .xssmall {
        background: white;
        grid-column: auto * span 2.5;
        grid-row: auto * span 3.2;
      }

      @media (min-width:1300px) { 
      
        .large {
          background: red;
          grid-column: auto / span 4;
          grid-row: auto / span 2;
        }
      
        .xlarge {
          background: blue;
          grid-column: auto / span 5;
          grid-row: auto / span 0.5;
        }
      
        .xsmall {
          background: yellow;
          grid-column: auto * span 1;
          grid-row: auto * span 3;
        }
      
        .xssmall {
          background: white;
          grid-column: auto * span 4.5;
          grid-row: auto * span 3.2;
        }


  }